extends layout

block content
  h1= title
  #input-contain
    input#handle(type='text', placeholder='Twitter Handle', value=user)
    button#go Go
    #loading Loading...
  #errors
  #chart
  #date-range Displaying last 
    #tweet-num
    |  tweets from 
    #dates
  #permalink
  #footer
    a(href='https://github.com/themichaellai/twitter-punchcard') github
  script(type='text/javascript')
    window.paramUser = '#{user}';
  script(src='/javascripts/index.js')
