extends layout

block content
  h1= title
  #input-contain
    input#handle(type='text', placeholder='Twitter Handle', value=user)
    button#go Go
    #loading Loading...
  #errors
  #chart
  #date-range Displaying last 200 tweets from 
    #dates
  #permalink
  script(type='text/javascript')
    window.paramUser = '#{user}';
  script(src='/javascripts/index.js')
